body{
     margin: 0px;
     padding: 1px;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;
     font-size: 16px;
    overflow: auto;
    border-radius: 8px;
}

 h1,h2,h3,h4,h5,h6{
     margin: 0px;
 }
 a{
     text-decoration: none;
}
p {
  
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
.d-flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap
}
* جعل الهيدر ثابتًا في أعلى الصفحة */
.component-hader {
     position: fixed;
     top: 0;
     width: 100%;
}
@media print {
/* جعل الفوتر ثابتًا في أسفل الصفحة */
.component-footer {
position: fixed;
bottom: 0;
width: 100%;

}
}
:root{
--color-back:#4E465C;
--color-bac2:#E9B252
}

/* ترك مساحة في الأعلى والأسفل للمحتوى لتجنب التداخل مع الهيدر والفوتر */
body {
     margin-top: 137px; /* تعديل الارتفاع حسب حجم الهيدر */
     margin-bottom: 50px; /* تعديل الارتفاع حسب حجم الفوتر */
}
.component-footer .item-right{
     background-color: #4E465C;
     height: 70px;
}
.component-hader{
     background-color: #4E465C;   
}
.component-hader .div-grid{
     display: grid;
     grid-template-columns: 1fr 0.75fr;
}
.component-hader  .item-left{
     background-color: var(--color-bac2);
    
     height: 50px;
    
     left: 0px;
     width: 100%;
     border-radius: 0px 41px 41px 0px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.item-right-right{
     background-color: var(--color-bac2);
    
     height: 35px;
    
     left: 0px;
     width: 80%;
     border-radius: 41px 0px 0px 41px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.component-hader  .item-left img{
     width: 197px;
     height: auto;
     max-height: 150px;
     
}
.component-hader .item-right{
     justify-content: center;
     color: #fff;
     text-align: center;
     padding: 10px;
    
     align-items: center;
}
.item-right h6{
     font-size: 25px;
     font-weight: 600;
     line-height: 16px;
     padding-bottom: 5px;
}
.item-right p{
     font-size: 20px;
     font-weight: 400;
}
.component-footer .item-left{
     background-color: var(--color-bac2);
     position: absolute;
     padding: 10px 30px;
     top: -34px;
     left: 0px;
     width: 40%;
     border-radius: 0px 41px 41px 0px;
}
.component-footer .content-container{
     position: relative;
}
.component-footer .content-box{
     color:#fff;
     font-size: 18px;
     font-weight: 500;

}
.component-footer .contact-content{
     padding-bottom: 8px;
}
 /* جعل الهيدر ثابتًا في أعلى الصفحة */
 .component-hader {
     position: fixed;
     top: 0;
     width: 100%;
    
}
 /* ترك مساحة في الأعلى والأسفل للمحتوى لتجنب التداخل مع الهيدر والفوتر */
 body {
     margin-top: 137px; /* تعديل الارتفاع حسب حجم الهيدر */
     margin-bottom: 50px; /* تعديل الارتفاع حسب حجم الفوتر */
}
.component-content-item{
     padding: 5% 2%;
}
.item-left img{
     position: absolute;
     height: 127px !important;
     bottom: -77px;
     border: 1px solid #4E465C;
     width: 156px !important;
     border-radius: 8px;
}
.body-item{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 16px;
     /* padding-top: 80px; */
}
.body-item .item:first-child{
     grid-column: span 2;
}
.item span {
     margin: 0px 10px;
     padding-bottom: 10px;
 }
.span-back{
     padding: 10px 30px;
     margin: 0px 10px;
     background-color: #c7ccce3b;
     margin-top: 10px;
}
.item-right-img img{
     width: 185px;
     height: 131px;
     border: 1px solid #c7ccce;
     border-radius: 8px;
}
@media print {
     /* جعل الفوتر ثابتًا في أسفل الصفحة */
     .component-footer {
          position: fixed;
          bottom: 0;
          width: 100%;
        
     }
     }